{% extends "layout.html" %}
{% block content %}
<div class="content-section">
      <p class="text-secondary">Hi, this is Hasnain; an artificial imtelligence and Machine Learning enthusiast. Welcome to my web application! This is my second web app, which is an outcome of my practice project.I am not really finished with it yet.To enhace the functionality even more,I would be adding advanced features as well.So make an account and start sharing your thoughts with everyone!</p>
</div>
{% endblock content %}